// Theme colors
$__white: #e0e0e0;
$__dark-gray: #2e3035;
$__black: #181818;
$__primary: #419fdf;
$__success: #5cc76e;
$__info: #f070df;
$__warning: #ffe053;
$__danger: #e63749;

// Bootstrap colors
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$basic-colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
);
